<template>
  <v-app id="inspire">
    <v-main>
      <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
          <v-col cols="12" sm="8" md="4">
            <alert-app/>
            <login-app />
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
// @ is an alias to /src
import LoginApp from "@/components/LoginApp.vue";
import AlertApp from "@/components/AlertApp.vue";

export default {
  name: "Home",
  components: {
      LoginApp,
      AlertApp
  },
};
</script>
