<template>
  <div>
    <div v-for="(alert, index) in alerts" :key="index">
      <v-alert border="top" elevation="3" colored-border :icon="alert.icon" :type="alert.type">
        <div class="content">
          <span v-html="alert.message"></span>
          <button
            @click="deleteAlert(alert)"
            type="button"
            class="v-alert__dismissible v-btn v-btn--flat v-btn--icon v-btn--round theme--light v-size--small error--text"
            aria-label="Close"
          >
            <span class="v-btn__content">
              <i
                aria-hidden="true"
                class="v-icon notranslate mdi mdi-close-circle theme--light error--text"
              ></i>
            </span>
          </button>
        </div>
      </v-alert>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";

//Format for alert
// alert: {
//       type: "info",
//       message: "Probando <strong>1</strong>",
//       icon: ""
//     },
export default {
  name: "AlertApp",
  data() {
    return {};
  },

  created() {},
  computed: {
    ...mapState("alerts", ["alerts"]),
  },
  methods: {
    ...mapActions("alerts", ["deleteAlert"]),
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
</style>
