<template>
  <v-card class="elevation-3">
    <v-toolbar color="primary" dark flat>
      <v-toolbar-title>Login</v-toolbar-title>
    </v-toolbar>
    <v-card-text>
      <v-form>
        <v-text-field
          label="Nombre de usuario"
          name="username"
          prepend-icon="mdi-account"
          type="text"
          v-model="username"
        ></v-text-field>

        <v-text-field
          id="password"
          label="Contraseña"
          name="password"
          prepend-icon="mdi-lock"
          :append-icon="showPassword ? 'mdi-eye-off' : 'mdi-eye'"
          :type="showPassword ? 'text' : 'password'"
          v-model="password"
          @click:append="showPassword = !showPassword"
        ></v-text-field>
      </v-form>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="primary" @click="login">Login</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import { mapState, mapActions, mapGetters } from "vuex";
import axios from "axios";

export default {
  name: "LoginApp",
  data() {
    return {
      username: "user",
      password: "pass",
      showPassword: false,
      errors: [],
    };
  },
  computed: {
    ...mapGetters("tokens", ["getToken"]),
    ...mapState(["baseUri"]),
  },
  methods: {
    ...mapActions("tokens", ["saveToken"]),
    ...mapActions("alerts", ["addAlert"]),

    async login() {
      let token, alert;

      let data = JSON.stringify({
        username: this.username,
        password: this.password,
      });

      let config = {
        method: "post",
        baseURL: this.baseUri,
        url: "/login",
        headers: {
          "Content-Type": "application/json",
        },
        data: data,
      };

      await axios(config)
        .then(function(response) {
          // console.log(JSON.stringify(response.data));
          token = response.data.token;
          console.log("token:", token);
          console.log("status:", response.status);
        })
        .catch(function(error) {
          if (error.response.status == 401) {
            alert = {
              message: error.response.data.message,
              type: "error",
            };
          } else {
            Console.log(error);
          }
        });

      if (token) {
        this.saveToken(token);
        this.$router.push({ name: "Users" });
      } else if (alert) {
        this.addAlert(alert);
      }
    },
  },
};
</script>
