<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" persistent max-width="500px">
      <template v-slot:activator="{ on, attrs }">
        <v-btn color="primary" dark class="mb-2" v-bind="attrs" v-on="on"
          >New Item</v-btn
        >
      </template>
      <v-card>
        <v-card-title>
          <span class="headline">{{ formTitle }}</span>
        </v-card-title>

        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="6" md="4">
                <v-text-field
                  v-model="editedItem.name"
                  label="Nombre"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="4">
                <v-text-field
                  v-model="editedItem.lastName"
                  label="Apellido"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="4">
                <v-text-field
                  v-model="editedItem.username"
                  label="Nombre de usuario"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="4">
                <v-text-field
                  label="Contraseña"
                  :append-icon="showPassword ? 'mdi-eye-off' : 'mdi-eye'"
                  :type="showPassword ? 'text' : 'password'"
                  v-model="editedItem.password"
                  @click:append="showPassword = !showPassword"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="4">
                <v-switch
                  v-model="editItem.admin"
                  label="Administrador"
                ></v-switch>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
          <v-btn color="blue darken-1" text @click="save">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import { mapState, mapActions, mapGetters } from "vuex";
import axios from "axios";

export default {
  name: "UserTable",
  data() {
    return {
      dialog: false,
      showPassword: false,
      editedIndex: -1,
      editedItem: {
        name: "",
        lastName: "",
        username: "",
        password: "",
        admin: false,
      },
      defaultItem: {
        name: "",
        lastName: "",
        username: "",
        password: "",
        admin: false,
      },
    };
  },
  computed: {
    ...mapGetters("tokens", ["getToken"]),
    ...mapState(["baseUri"]),

    formTitle() {
      return this.editedIndex === -1 ? "Nuevo usuario" : "Editar usuario";
    },
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
  },

  created() {},

  methods: {
    ...mapActions("tokens", ["saveToken"]),
    ...mapActions("alerts", ["addAlert"]),

    editItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      const index = this.desserts.indexOf(item);
      confirm("Are you sure you want to delete this item?") &&
        this.desserts.splice(index, 1);
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    async save() {
      if (this.editedIndex > -1) {
        Object.assign(this.desserts[this.editedIndex], this.editedItem);
      } else {
        let user, alert;

        let data = JSON.stringify({
          name: this.editItem.name,
          lastName: this.editItem.lastName,
          userName: this.editItem.username,
          password: this.editItem.password,
          administrator: this.editItem.admin,
        });

        let config = {
          method: "post",
          baseURL: this.baseUri,
          url: `/api/users`,
          headers: {
            "Content-Type": "application/json",
            Authorization: `Bearer ${this.getToken}`,
          },
          data: data,
        };

        await axios(config)
          .then(function(response) {
            // console.log(JSON.stringify(response.data));
            user = response.data;
          })
          .catch(function(error) {
            alert = {
              message: error.response.data.message,
              type: "error",
            };
          });

        if (user) {
          this.users.push(user);
        } else if (alert) {
          this.addAlert(alert);
        }
      }
      this.close();
    },
  },
};
</script>
