<template>
  <v-card>
    <v-card-title>
      Usuarios
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Buscar"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>
    <v-data-table
      item-key="_id"
      class="elevation-0 "
      :loading="loading"
      loading-text="Cargando... Por favor espere"
      :headers="headers"
      :items="users"
      :search="search"
    ></v-data-table>
  </v-card>
</template>

<script>
import { mapState, mapActions, mapGetters } from "vuex";
import axios from "axios";

export default {
  name: "UserTable",
  data() {
    return {
      loading: true,
      search: "",
      headers: [
        {
          text: "Nombre",
          align: "Apellidos",
          sortable: false,
          value: "name",
        },
        { text: "Apellidos", value: "lastName" },
        { text: "Nombre de usuario", value: "userName" },
        { text: "Contraseña", value: "password" },
        { text: "Administrator", value: "admin" },
      ],
      users: [],
    };
  },

  computed: {
    ...mapGetters("tokens", ["getToken"]),
    ...mapState(["baseUri"]),
  },

  created() {
    this.loadUsers();
  },

  methods: {
    ...mapActions("tokens", ["saveToken"]),
    ...mapActions("alerts", ["addAlert"]),

    async loadUsers() {
      let users, alert;

      let config = {
        method: "get",
        baseURL: this.baseUri,
        url: `/api/users`,
        headers: {
          "Content-Type": "application/json",
          Authorization: `Bearer ${this.getToken}`,
        },
      };

      await axios(config)
        .then(function(response) {
          // console.log(JSON.stringify(response.data));
          users = response.data;
        })
        .catch(function(error) {
          if (error.response.status == 400) {
            alert = {
              message: error.response.data.message,
              type: "error",
            };
          } else {
            Console.log(error);
          }
        });

      if (users) {
        this.users = users;
      } else if (alert) {
        this.addAlert(alert);
      }
    },
  },
};
</script>
